
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.homePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button.startbutton {
  top:17vh;
  margin: 18vh 0vh;
  padding: 7vh 2vh;
  border-radius: 20vh;
  background-color: #eeddc7;
  color: #61685f;
  font-size: 1.1em;
  border: 1px solid #6d655a;
}

button.startbutton:hover {
  background-color: #ebd3b3;
}

h1 {
  font-size: 1.5em;
}

p {
  margin-top: 6vh 0vh;
}
