
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --button-active: #4ba04e; 
  --button-clickable: #657c62;  
  --text-color: #333; 
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #e6fad2 0%, #ffffff 50%, #eeddc7 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
};

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.homePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

button.startbutton {
  margin: 10vh 2vh 12vh;
  padding: 4vh 1vh;
  border-radius: 15vh;
  background-color: #eeddc7;
  color: #61685f;
  font-size: 1.1em;
  border: 1px solid #6d655a;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

button.startbutton:hover {
  background-color: #ebd3b3;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
  font-weight:300;
  text-align: center;
}

h1 { 
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

p {
  margin-top: 6vh 0vh;
}

button {
  margin: 5px;
  border: 1px solid #ddd;
  background-color: var(--button-clickable);
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1.1em;
  font-family: "Playfair Display", serif;
  font-weight:600;
  text-align: center;
}

button.selected {
  background-color: var(--button-active);
  color: white;
}

button.submit {
  align-items: center;
  width: 70vw;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: var(--button-active);
  color: white;
  font-size: 1.1em;

  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button.submit:hover {
  background-color: var(--button-active);
  color: white;
}

button.submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Product.css */
.product-container {
  text-align: center;
  margin-top: 20px;
}

.product-container p {
  margin: 10px;
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #666;
  transition: color 0.3s;
  font-size: 0.85em; /* Decrease font size */
  opacity:0.9;
}

.product-container .selected + p {
  color: #000;
  background-color: #fff;
  opacity: 1;
}

div.ingredient-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  opacity: 0.5;
}

.ingredient-row.selected {
  background-color: '#e0f7fa';
  opacity: 1;
}

.ingredient-row strong{
  width: 120px;
  padding-right: 10px;
  opacity: 1;
}

.ingredient-row small{
  opacity: 1;
}

.recipe-builder-container {
  width: 70vw; /* Adjust width as needed */
  margin-bottom: 60px; /* Space for the submit button */
}

.scrollable-content {
  max-height: calc(100vh - 120px); /* Adjust the height */
  overflow-y: auto; /* Make it scrollable */
  padding-bottom: 20px; /* Space at the bottom inside the scrollable area */
}

div.commentary {
  padding-bottom: 20px;
}