
.goals-button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #657c62;
    cursor: pointer;
  }
  
  .goals-button.selected {
    background-color: #4caf50;
    color: white;
  }
  
  .goals-submit {
    background-color: #007bff;
    color: white;
  }
  
  .goals-submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  